/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Questrial', sans-serif; */
:root{
    --line--border--fill:#8622ae;
    --line--border--empty:#7b7171;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 33, 33);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'Questrial', sans-serif; 
  font-weight: bold;
  color: black;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before{
    content: "";
    background-color:var(--line--border--empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
}

.progress{
    background-color:var(--line--border--fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    background-color: rgb(206, 203, 203);
    border-radius:50%;
    height:30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line--border--empty);
    transition: .4s ease;
}

.circle.active{
    border-color: var(--line--border--fill);
}

.btn{
    background-color: var(--line--border--fill);
    color: black;
    border: 0;
    border-radius: 10px ;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size:20px;
    font-weight: bold;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: none;
}

.btn:disabled{
    background-color: var(--line--border--empty);
    cursor: not-allowed;
}