/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Questrial', sans-serif; */
*{
    box-sizing: border-box;
}


body{
    background-color: #8e448d;
    color: #fff;
    margin: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Questrial', sans-serif;
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 50px; 
    text-align: center;
}

.counter{
    font-size: 60px;
    margin-top:10px;
}

@media (max-width:580px) {
    body{
        flex-direction: column;
    }
}