/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Questrial', sans-serif; */
*{
    box-sizing: border-box;
}


body{
    background-color: #555555;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-family: 'Questrial', sans-serif;
    overflow-x: hidden;
}

h1{
    margin: 10px;
}

.box{
    background-color:rgb(30, 41, 49);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-200%);
}

.box.show{
    transform: translateX(0);
}

.box h2{
    font-size: 40px;
}


 