/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Questrial', sans-serif; */
* {
  box-sizing: border-box;
}

body {
  background-color: #fbfcfe;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'Questrial', sans-serif;
}

.container {
  background-color: #fff;
  border: 3px #000 solid;
  border-radius: 15px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}

.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.code {
  border-radius: 8px;
  font-size: 75px;
  width: 100px;
  height: 120px;
  border: 1px solid #eee;
  margin: 1%;
  text-align: center;
  font-weight: 300;
  font-family: inherit;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:valid {
  border-color: #34db34;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.info {
  background-color: #eaeaea;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #777;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }
  .code {
    font-size: 50px;
    height: 70px;
    max-width: 70px;
  }
}
